body{
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height: 100vh;
    position: relative;
   
}

body::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 45px solid #0071BC;
}

header {
    background-color: #F5F5F5;
    color: #0071BC;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #0071BC;
}

.logo{
    width: 80px;
    padding-right: 0px;
    margin-right: 0px;
    margin-left: 10px;
    position: left;

}
h1 a{
    font-size: 64px;
    text-decoration: none;
    color: #0071BC;
    margin-left: 0px;
    

} 

.page-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.page-nav li {
    margin-right: 150px;
    font-size: 18px;
    color:#0071BC
}

.page-nav a {
    text-decoration: none;
    color: #0071BC;
}

a:hover {
    text-decoration: none;
}

main {
    padding: 15px;
}

.getting-started {
    margin-bottom: 20px;


}

#bottom {
    background: #0071BC;
    height: 45px;
    position: fixed;
    left: 0;
    bottom: 0;
}