html {
    box-sizing: border-box;
}

body {
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #0071BC;
    margin: 0;
    min-height: 100vh;
    position: relative;
}

body::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 45px solid #0071BC;
}

header {
    background-color: #F5F5F5;
    color: #0071BC;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #0071BC;
}

.logo-container {
    display: flex; 
    margin-left: 0.75vw;
    margin-right: 5vw;
    align-items: center;
}

.logo {
    width: 95px;
    margin-left: 10px;
}

h1 a {
    font-size: 65px;
    text-decoration: none;
    color: #0071BC;
    margin: 0;
    padding: 0;
    margin-right: 7vw;
} 

.page-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.page-nav li {
    font-weight: bold; 
    padding: 0;
    margin-right: 3vw;
    font-size: 20px;
}

.page-nav a {
    text-decoration: none;
    color: #0071BC;
}

a:hover {
    text-decoration: none;
}

main {
    padding: 15px;
}

.getting-started {
    margin-bottom: 20px;
}

#bottom {
    background: #0071BC;
    height: 45px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.tweet-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0;
}

.twitter-tweet {
    align-self: stretch;
    transform: scale(0.75);
    margin-bottom: 20px;
}

.cyber-news {
    margin-bottom: 0px;
    margin-top: 50px;
}

.how-to {
    margin-top: 50px;
}

body.quiz-page {
    background-color: #F5F5F5;
}

#quiz {
    margin-top: 0px;
    padding: 5px;
}

.question {
    margin: 30px 0;
}

.answers label {
    display: block;
    margin-bottom: 6px;
}

.answers.correct {
    color: lightgreen;
}

.answers.incorrect {
    color: red;
}

#submit {
    background-color: #0071BC;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 50px;
}

#submit:hover {
    background-color: #005687;
}

.login-container {
    background-color: #0071BC;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    justify-content: left;
    margin: auto;
    margin-top: 50px;
}

.login-container h2 {
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group button {
    background-color: #fff;
    color: #0071BC;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-group button:hover {
    background-color: #ddd;
}

@media only screen and (max-width: 600px) {
    body {
      font-size: 16px;
    }
  }
  
  @media only screen and (max-width: 768px) {
    header {
      flex-direction: column;
      align-items: center;
    }
  
    .logo-container {
      margin: 0;
    }
  
    h1 a {
      margin: 0;
      margin-top: 10px;
      margin-bottom: 10px;
    }
  
    .page-nav {
      flex-direction: column;
      align-items: center;
      margin-top: 10px;
    }
  
    .page-nav li {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    .tweet-container {
      flex-direction: column;
      align-items: center;
    }
  
    .twitter-tweet {
      transform: scale(0.75);
      margin-bottom: 20px;
      width:100%;
      height: auto;
    }
  }


  #contact_body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

#main {
    background-color: #0071BC;
    color: #fff;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    justify-content: left;
    margin: auto;
    margin-top: 50px;
}

#contact_container {
    display: flex;
    flex-direction: column;
}

#contact_container h2 {
    text-align: center;
}

.contact_form {
    display: flex;
    flex-direction: column;
}

.contact_form label {
    font-weight: bold;
    margin-bottom: 5px;
}

.contact_form input,
.contact_form textarea,
.contact_form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 15px;
    font-size: 16px;
}

.contact_form textarea {
    resize: vertical;
}

.contact_form input[type="submit"] {
    background-color: #fff;
    color: #0071BC;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.contact_form input[type="submit"]:hover {
    background-color: #ddd;
}

.external-resources h2 {
    color: #0071BC;
  }
  
  .external-resources ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .external-resources li {
    margin-bottom: 10px;
  }

  a:visited, a:hover, a:focus {
    text-decoration: none;
    color: #0071BC;
}
