html {
    box-sizing: border-box;
}

body{
    background-color: #F5F5F5;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #0071BC;
    margin: 0;
    min-height: 100vh;
    position: relative;
   
}

body::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 45px solid #0071BC;
}

header {
    background-color: #F5F5F5;
    color: #0071BC;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}


header::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #0071BC;
}

.logo-container {
    display: flex; 
    margin-left: 0.75vw;
    margin-right: 5vw;
    align-items: center;
    
}

.logo{
    width: 95px;
    margin-left: 10px;

}
h1 a{
    font-size: 65px;
    text-decoration: none;
    color: #0071BC;
    margin: 0;
    padding: 0;
    margin-right: 7vw;
} 

.page-nav {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.page-nav li {
    font-weight: bold; 
    padding:0;
    margin-right: 3vw;
    font-size: 18px;
}

.page-nav a {
    text-decoration: none;
    color: #0071BC
}

a:hover {
    text-decoration: none;
}

main {
    padding: 15px;
}

.getting-started {
    margin-bottom: 20px;
}

#bottom {
    background: #0071BC;
    height: 45px;
    position: fixed;
    left: 0;
    bottom: 0;
}

.how-to {
    color: #5DBDFF
}

.tweet-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 0;

}


.twitter-tweet {
    align-self: flex-start;
    transform: scale(0.75);
}


.cyber-news {
    margin-bottom: 0px;
    margin-top: 50px;
    
}

.how-to {
    margin-top: 50px;
}